<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Student Register Page</title>
<link href="css/style1.css" rel="stylesheet" type="text/css">
<style>
p{
color: #ff0000;
}
</style>
</head>
<body>
<h3>Please enter the following information: </h3>
 <form action="Servlet" method="post">
    <div class="regcl">
    <p> Wrong email or password! </p>
 	<div>
 		<label for="email">Email:</label>
 		<input type="email" name="email" class="textcl" required autocomplete="off" />
 	</div>
 	<div>
 		<label for="password">Password:</label>
 		<input type="password" name="password" class="textcl" required autocomplete="off" />
 	</div>
 	<div>
 	<button name = "SignIn" value = "SignIn" class = "btn"> Sign In </button>
 	<button type="reset" name="clear" value="clear" class="btn">Clear</button>
 	</div>
 	</div>
 </form>
 <form action = "Servlet" method = "post">
  New Customer? <button name = "redirect" value = "redirect" class="btn">Sign up</a>
</body>
</html>