
body{
    background-color: #778899;
    background-size: cover;
    background-position: center;
}

/* vv NAV BAR BEGIN CODE */

#nav input[type=submit], #home {
    font-family: Georgia, serif;
    font-size: 14px;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#nav input[type=submit]:hover, #home:hover {
    background: linear-gradient(to top, #4d4d4d 0%, #525252 100%);
}

#nav {
    background: linear-gradient(to bottom, #525252 0%, #999999 100%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#cart {
    float: right;
}

/* ^^ NAV BAR END CODE */

#search_stuff, footer{
 /* ALIGN CENTER */ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* To keep footer at bottom of page*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

#sortBy{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

h1, h3, p, footer, table {
    color: white;
}

table, th, td {
    text-align: center;
    margin: auto;
    background-color: rgba(1,1,1,0.4);
    border: 2px solid black;
    border-collapse: collapse;
    width: 60%;
    height: 25px;
}

#confirm {
	text-align: center;
    margin: auto;
    padding: 10px;
}

