
body{
    background-color: #778899;
    background-size: cover;
    background-position: center;
}

#title {
    text-align: center;
    color: white;
}

#message {
    width: 60%;
    padding: 40px;
    margin: auto;
    text-align: center;
}

/* vv NAV BAR BEGIN CODE */

#nav input[type=submit], a {
    font-family: Georgia, serif;
    font-size: 14px;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#nav input[type=submit]:hover, a:hover {
    background: linear-gradient(to top, #4d4d4d 0%, #525252 100%);
}

#nav {
    background: linear-gradient(to bottom, #525252 0%, #999999 100%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* ^^ NAV BAR END CODE */

#search_stuff, footer{
 /* ALIGN CENTER */ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* To keep footer at bottom of page*/
footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

