
body{
    background-color: #778899;
    background-size: cover;
    background-position: center;
}

label {
    display: inline-block;
    width: 150px;
    color: white;
    text-align: left;
}

input[type="text"], select {
    width: 250px;
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    margin-left: auto;
}

#cardForm {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}
