/*This iis the CSS for index.html*/
html{
    background-image: url(http://www.hdwallpapers.in/walls/guardian_halo_5_guardians-HD.jpg);
}

#wrapperDiv{
    margin: 0;
}
#headerDiv{
  text-decoration: underline;
    padding-bottom: 50px;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    
}

#games{
  text-align: left;  
}
#comicBooks{
    text-align: center;
}
#Other{
   text-align: right; 
}

.image{
  text-align: center  
}



#aboutDiv{
    width: 40%;
}

.header{
    font-size: x-large;
    text-decoration: underline;

}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 40%;

}
/* Slideshow container */
.slideshow-container .image{
    width: auto;
    position: relative;
    margin: auto;
    height: 400px;

}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 36px;
  font-weight: bold;
  font-family: Courier New;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: #d3d7cf;
  -webkit-text-stroke: 1px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* vv NAV BAR BEGIN CODE */

#nav input[type=submit], #home {
    font-family: Georgia, serif;
    font-size: 14px;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#nav input[type=submit]:hover, #home:hover {
    background: linear-gradient(to top, #4d4d4d 0%, #525252 100%);
}

#nav {
    background: linear-gradient(to bottom, #525252 0%, #999999 100%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#cart {
	float: right;
}
/* ^^ NAV BAR END CODE */

#search_stuff, footer{
 /* ALIGN CENTER */ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#login{
	float:right;
}


