@CHARSET "UTF-8";

body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/dd/61/f0/dd61f0c5488bc1343d1cfbacaf202c2a.jpg");
}

#wrapper {
	width: 800px;
	height: 1000px;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: #ffffff;
	border-radius: 5px;
	vertical-align: middle;
}

#header h3 {
	float: left;	
	margin-left: 10px;
	font-size: 12pt;
	display: inline;
}

#header p {
	color: #ffffff;
	float: right;
	margin-right: 10px;
	text-transform: capitalize;
}

.tclass {
	margin: 10px;
	font-size: 10pt;
}

#login {
	width: 40%;
	margin: auto;
	margin-top: 50px;
	background-color: #f7f7f7;
	height: 100px;
	padding: 90px 50px 50px;
	border-radius: 5px; 
	
}

#thoughttable {
	width: 50%;
	border-collapse: collapse; 
	
}

#thoughttable td {
	padding: 10px;
}
 .oddRow {
	background-color:#e4e4e4;
}

.btn {
	width: 150px;
	background-color: #3e8f3e;
	border: 1px solid #3e8f3e;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 33px;
    font-size: 12px;
    margin-top:10px;
}
.btn:focus, .btn:hover {
	background-color: #419641;
	background-position: 0 -15px;
}

.btn:active {
	background-color: #419641;
    border-color: #3e8f3e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.textcl {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin-bottom: 10px;
    width: 50%;
}
