
body{
    /*background-color: floralwhite;*/
    background-image: url("http://www.hdwallpapers.in/walls/batman_arkham_origins_video_game-wide.jpg");
    background-size: cover;
    background-position: center;
}

/* vv NAV BAR BEGIN CODE */

#nav input[type=submit], a {
    font-family: Georgia, serif;
    font-size: 14px;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

#nav input[type=submit]:hover, a:hover {
    background: linear-gradient(to top, #4d4d4d 0%, #525252 100%);
}

#nav {
    background: linear-gradient(to bottom, #525252 0%, #999999 100%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#cart {
    float: right;
}

/* ^^ NAV BAR END CODE */

#search_stuff, footer{
 /* ALIGN CENTER */ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sortBy{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

h3, p {
    color: white;
}

p {
    width: 500px;
    margin: 0;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    word-wrap: break-word;
    /* opacity part */
    background-color: rgba(1,1,1,0.4);
}

